* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    letter-spacing: 0.4rem;
}

.title {
    color: white;
    font-weight: bold;
    padding-top: 8rem;
    font-size: 5em;
    text-shadow: 0 10px 10px black, 0 10px 20px red;
}

.detail1 {
    display: inline-block;
    color: white;
    padding: 0 3rem;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0 10px 10px black, 0 10px 20px red;
}

.navbar {
    width: 100%;
    /* position: fixed; */
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgba(0, 0, 0, 0.534);
}

.navbar:hover {
    background-color: rgba(0, 0, 0, 0.685);
}

.navbar ul {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    list-style-type: none;
    padding: 1rem 1rem;
    background-color: transparent;
    transition: background-color 0.2s linear;
    border-radius: 5px;
    position: relative;
}

.menu li:hover {
    background-color: rgb(55, 96, 97);
    box-shadow: 0 7px 7px 0 cadetblue;
}

.menu li:active {
    background-color: rgb(55, 96, 97);
    box-shadow: 0 4px 4px 0 cadetblue;
    top: 3px;
}

.navbar ul a {
    text-decoration: none;
    color: aliceblue;
}

.start-button {
    padding: .4rem 1rem !important;
    border: 2px solid rgb(0, 251, 255);
    background-color: transparent !important;
    color: rgb(0, 247, 255);
    font-weight: bold;
    transition: all 0.2s linear;
    border-radius: 5px;
}

.start-button:hover {
    background-color: rgb(55, 96, 97) !important;
    cursor: pointer;
    color: aliceblue;
}